---
layout: en/default
title: Works
---

<div class="container">
  <h2 class="page-header">{{ page.title }}</h2>
  <div class="row">
    {% assign works = site.en_works | sort:"wid" | reverse  %}
    {% for work in works %}
    {% assign featured_image = 'http://placehold.it/400x225' %}
    {% if work.featured_image %}
      {% assign featured_image = work.featured_image %}
    {% endif %}
    <div class="col-md-4">
      <a href="{{ work.id }}"><img class="img-responsive" src="{{ featured_image }}" alt="{{ work.title }}"></a>
      <h4 class="card-title"><a href="{{ work.id }}">{{ work.title }}</a></h4>
      <p class="card-text">{{ work.description }}</p>
    </div>
    {% endfor %}
  </div>
</div>

