---
layout: default
title: 체험 프로그램
---

{% include page-header.html %}

<div class="container">
  <div class="row">
  {% for group in site.data.courses-order %}
    {% assign items = group | split: ' - ' %}
    <div class="group clearfix">
      <h3><span class="text-success bg-success">{{ items | first }}</span></h3>
      {% for item in items %}{% if forloop.index != 1 %}{% assign title = item %}{% include course-list-item.html %}{% endif %}{% endfor %}
    </div>
  {% endfor %}
  </div>
</div>


