---
layout: default
---

<div class="jumbotron" style="background: url(/assets/logo/main1.jpg) no-repeat; background-size: cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/logo/main1.jpg', sizingMethod='scale');">
  <div class="container">
    <h1 class="display-6"><span class="bg-success">체험예술공간 꽃밭!</span></h1>
    <h2 class="display-7"><span class="bg-success">체험 자체가 예술!</span></h2>
    <p class="lead">
      꽃을 심고 꽃밭을 가꾸는 사람들과<br>
      그 꽃밭에서 뛰노는 사람들이<br>
      함께 만들어가는 체험예술공동체!
    </p>
  </div>
</div>

<div class="jumbotron bg-primary">
  <div class="container">
    <h2><a href="/courses/" class="text-info">프로그램</a></h2>
    <div class="row">
      {% assign courses = site.courses | sort:"course_id" | reverse  %}
      {% for course in courses limit:3 %}
      <!-- <pre>{{ course | inspect }}</pre> -->
      <div class="col-md-4">
        <a href="{{ course.url }}"><img class="img-responsive" src="http://placehold.it/400x225" alt=""></a>
        <h4><a href="{{ course.url }}" class="text-info">{{ course.title }}</a></h4>
        <p class="card-text">{{ course.description }}</p>
        <a href="{{ course.url }}" class="btn btn-info">더 알아보기</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="jumbotron bg-info">
  <div class="container">
    <h2 class="text-info">작품</h2>
    <div class="row">
      {% assign works = site.works | sort:"wid" | reverse  %}
      {% for work in works limit:3 %}
      <!-- <pre>{{ work | inspect }}</pre> -->
      <div class="col-md-6">
        <a href="{{ work.url }}"><img class="img-responsive" src="http://placehold.it/400x225" alt=""></a>
        <h4><a href="{{ work.url }}" class="text-info">{{ work.title }}</a></h4>
        <p class="card-text">{{ work.description }}</p>
        <a href="{{ course.url }}" class="btn btn-info">더 알아보기</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <h2>꽃밭 소개</h2>
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">
          <체험예술공간 꽃밭&gt;은 아동, 청소년과 가족을 대상으로 미술·연극 통합형 공연과 전시 교육프로그램을 진행하는 전문예술집단입니다. 미술적 재료(미디어아트, 회화, 조각 등)가 공연적 재료(몸, 오브제, 라이브음악 등)와 만나 공연이 펼쳐지고, 체험전시 놀이터가 펼쳐지고, 살아 뛰노는 교육(공연형 교육, 전시형 교육)이 이루어집니다.
        </p>
        <p class="lead">
          <꽃밭&gt;의 프로그램들은 공연장, 미술관, 박물관, 대안공간, 야외 등 모든 공간을 예술적 향기로 가득 채워왔습니다. <꽃밭&gt;은 예술을 단지 체험하고 끝나는 것이 아니라 체험 자체가 예술이 되는 과정을 온몸으로 겪는 “체험예술”을 지향합니다.
        </p>
        <ul id="download" class="list-inline">
          <li class="list-inline-item"><a class="btn btn-lg btn-info" href="/assets/files/introduction.zip"><i class="fa fa-download" aria-hidden="true"></i> 소개서</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <p class="lead">
          <꽃밭&gt;은 다년간 아동청소년 교육과 공연에 힘써온 <비주얼씨어터컴퍼니 꽃>의 아동청소년프로그램이 독립되어서 만들어진 단체입니다. 또한 <꽃밭&gt;은 전문가(예술가와 교사, 강사 등의 예술교육 매개자)를 위한 워크숍과 일반인을 위한 세라피(치유) 프로그램을 통해 예술인력 양성과 예술치유의 확산에 힘쓰고 있습니다.
        <p>
        <p class="lead">
          <꽃밭&gt;은 체험예술을 통해서 일상의 공간이 예술적 공간으로 변하고, 이 세상의 모든 하찮은 것들이 우리의 친구가 되고, 그로 인해서 삶이 더욱 풍요롭고 소중하게 변화되기를 바랍니다.
        </p>
        <p class="lead">
          <꽃밭&gt;의 공연들은 유럽, 아시아, 아프리카의 주요 페스티벌에 공식초청되어 다양한 상을 수상하는 등 큰 주목을 받았고, 한국과 한국예술을 세계에 알리는데 앞장서고 있습니다.
        </p>
      </div>
    </div>
  </div>
</div>
