---
layout: default
title: 언론보도
---

{% include page-header.html %}

<div class="container press">
  <div class="row">
    {% assign press = site.press | sort:"wid" | reverse  %}
    {% for article in press %}
    {% assign featured_image = 'http://placehold.it/400x225' %}
    {% if article.featured_image %}
      {% assign featured_image = article.featured_image %}
    {% endif %}
    <div class="col-md-4">
      <div class="article-box">
        <a class="press-featured-image img-thumbnail" href="{{ article.url }}"><img src="{{ featured_image }}" alt="{{ article.title }}"></a>
        <h4 class="card-title"><a href="{{ article.url }}">{{ article.title }}</a></h4>
        <p class="card-text">{{ article.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

