{% assign repository = site.github.public_repositories | where: "full_name", site.repository %}
{% assign repo = repository[0] %}
{% capture edit_prose %}http://prose.io/#{{ repo.full_name }}/edit/{{ repo.default_branch }}/{{ page.path }}{% endcapture %}

<div id="footer" class="bg-success">
  <div class="container">
    <div class="row" style="margin: 2rem 0;">
      <div class="col-md-9">
        <p>
          Copyright © {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved. Since 2001
          &nbsp;&nbsp;
          <a href="{{site.data.front.channels.instagram}}" target="_blank">
            <img src="/assets/global/instagram.svg" alt="instagram" width="24" height="24" />
          </a>
        </p>
      </div>
      <div class="col-md-3">
        <ul class="list-inline pull-right edit-link">
          <li><a href="{{ edit_prose }}"><i class="fa fa-pencil-square-o fa-3x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
