<div class="bg-success">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand text-success pull-left" href="/">{{ site.title }}</a>
      <a class="pull-left" href="/en/"><small class="label label-default">English</small></a>
      {% if site.data.menu %}
      <ul class="nav navbar-nav navbar-right">
        {% for item in site.data.menu %}
        <li class="nav-item{% if page.url == item.url %} active{% endif %}">
          <a class="nav-link text-success" href="{{ item.url }}">{{ item.title }}{% if page.url == item.url %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </nav>
</div>
