//== Colors
//

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

$brand-primary: #ffcc66;
$brand-success: #3c763d;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

//== Typography
//

$font-size-base: 16px;
$font-family-base: 'Noto Sans KR', 'Malgun Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$jumbotron-heading-font-size: ceil(($font-size-base * 3.5));



$navbar-border-radius: 0;



@import "bootstrap/variables"
