---
---
@import "variables";
@import "bootstrap/bootstrap";
// @import "courses";

#footer {
  margin-top: 12em;
  .front & {
    margin-top: 0;
  }
}

p, li {
  font-weight: 100;
}

.navbar {
  margin: 0;
}

.front .jumbotron {
  margin-bottom: 0;
}

.courses {
  .col-md-4 {
    margin-bottom: $line-height-computed;
  }
}

.course .sidebar-module,
.work .sidebar-module {
  padding: 1em;
}

/**
 * course detail
 */

// cover image for course header
{% for course in site.courses %}
  {% if course.featured_image %}
.{{ course.slug }} .course-header {
  background: url('/assets/courses/{{ course.slug }}/photo/{{ course.featured_image }}') no-repeat;
  background-size: cover;
}
  {% endif %}
{% endfor %}

.course {
  .course-hedader {

  }
}


/**
 * work detail
 */

// cover image for work header
{% for work in site.works %}
  {% if work.featured_image %}
.{{ work.slug }} .work-header {
  background: url('{{ work.featured_image }}') no-repeat;
  background-size: cover;
}
  {% endif %}
{% endfor %}


.person {
  margin-bottom: 3em;
  h2 { margin-top: 0; }
  ul { padding-left: 25px; }
}

.press {

}
