---
---
@import "variables";
@import "bootstrap/bootstrap";

.wf-loading *,
.wf-inactive * {
  font-family: Arial, Helvetica, sans-serif;
}

:lang(en).wf-active * {
  font-family: 'Noto Sans KR', 'Malgun Gothic';
}

:lang(en).wf-active * {
  font-family: 'Roboto';
}

:lang(ko).wf-active .fa,
:lang(en).wf-active .fa {
  font-family: 'FontAwesome';
}

// Type display classes
.display-1 {
  font-size: $display1-size !important;
  font-weight: $display1-weight !important;
}
.display-2 {
  font-size: $display2-size !important;
  font-weight: $display2-weight !important;
}
.display-3 {
  font-size: $display3-size !important;
  font-weight: $display3-weight !important;
}
.display-4 {
  font-size: $display4-size !important;
  font-weight: $display4-weight !important;
}

img {
  max-width: 100%;
}

#footer {
  margin-top: 12em;
  .front & {
    margin-top: 0;
  }
}

p, li {
  font-weight: 100;
}

.navbar {
  margin: 0;
}

.courses {
  .item {
    margin-bottom: $line-height-computed;
    min-height: 340px;
  }

}

.course .sidebar-module,
.work .sidebar-module {
  padding: 1em;
  line-height: 1.6;
}

/**
 * course detail
 */

// cover image for course header
{% for course in site.courses %}
  {% if course.featured_image %}
.{{ course.slug }} .course-header {
  background: url('/assets/courses/{{ course.slug }}/photo/{{ course.featured_image }}') no-repeat;
  background-size: cover;
  background-position: center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/courses/{{ course.slug }}/photo/{{ course.featured_image }}', sizingMethod='scale');
}
  {% endif %}
{% endfor %}


/**
 * work detail
 */

// cover image for work header
{% for work in site.works %}
  {% if work.featured_image %}
.{{ work.slug }} .work-header {
  background: url('{{ work.featured_image }}') no-repeat;
  background-size: cover;
  background-position: center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ work.featured_image }}', sizingMethod='scale');
}
  {% endif %}
{% endfor %}


.person {
  margin-bottom: 3em;
  h2 { margin-top: 0; }
  ul { padding-left: 25px; }
}

.press {

}


.group {
  h3 {
    padding-left: 15px;
    margin-bottom: 30px;
  }
  .item {
    img { margin-bottom: 10px; }
    h4 { margin: 0; }
  }
}

.icon-bar {
  background-color: $brand-success;
}

.front {
  .jumbotron {
    margin-bottom: 0;
    .item {
      img {
        margin-bottom: 10px;
      }
      h4 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      p.text-muted {
        font-size: 16px;
      }
    }
  }
  .list-item  {
    margin-bottom: 30px;
  }
  .history {
    font-size: 20px;
  }
}

.content a,
.about-content a {
  font-weight: 700;
}

.press {
  .article-box {
    min-height: 345px;
    margin-bottom: 45px;
  }
  .press-featured-image {
    display: inline-block;
    width: 360px;
    height: 280px;
    overflow: hidden;
  }
}

.edit-link {
  i {
    visibility: hidden;
  }
  a {
    color: #dff0d8;
    display: inline-block;
    width: 55px;
    height: 55px;
    &:hover {
      color: $brand-success;
      i {
        visibility: visible;  
      }
    }
  }
}