---
---
@import "variables";
@import "bootstrap/bootstrap";

.navbar {
  margin: 0;
}

.front .jumbotron {
  margin-bottom: 0;
}

.courses {
  .col-md-4 {
    margin-bottom: $line-height-computed;
  }
}
