---
layout: default
---

{% include page-header.html %}

<div class="container about">
  <div class="col-lg-8 about-content">
    {{ content }}
  </div>
  <div class="col-lg-3 col-lg-offset-1 about-sidebar">
    <div class="sidebar-module">
      <ol class="list-unstyled">
        {% for item in site.data.about-nav %}
        <li>
          <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
          <p>{{ item.description | escape | markdownify }}</p>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
