---
layout: default
inline_img_dir_path: "/assets/courses/###/inline/"
---

<div class="jumbotron course-header">
  <div class="container">
    <h1><span class="bg-success">{{ page.title }}</span></h1>
    <p class="lead"><span class="bg-info">{{ page.catchphrase }}</span></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 content">

      {{ content | replace: '<', '&lt;' | replace: '>', '&gt;' | smartify | markdownify | newline_to_br | replace: "</p><br />", "</p>" | replace: "<ul><br />", "<ul>" | replace: "</ul><br />", "</ul>" | replace: "<ol><br />", "<ol>" | replace: "</ol><br />", "</ol>" |replace: "<li><br />", "</li>" | replace: "</li><br />", "</li>" }}

      {% for csv in site.data.tables %}
        {% if csv[0] == page.slug %}
          <table class="table">
            <thead>
              {% for row in csv[1].first %}
              <th>{{ row[0] }}</th>
              {% endfor %}
            </thead>
            <tbody>
              {% for row in csv[1] %}
              <tr>
                {% for field in row %}
                <td>{{ field[1] }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <ul class="list-inline pull-right edit-link">
            <li><a href="{{ edit_prose }}/_data/tables/{{ page.slug }}.csv"><i class="fa fa-pencil-square-o fa-3x"></i></a></li>
          </ul>
        {% endif %}
      {% endfor %}

      {% if page.videos.size > 0 %}
      <h2 class="m-t-2">영상</h2>
      {% for item in page.video %}
      <div class="embed-responsive embed-responsive-16by9 m-t-2">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ item }}" allowfullscreen></iframe>
      </div>
      {% endfor %}
      {% endif %}

      {% assign images = site.static_files | where: "image", true %}
      {% assign file_pathes =  images | map: 'path' | join: ', ' %}
      {% assign course_image_directory = '/assets/courses/' | append: page.slug | append: '/photo' %}
      {% if file_pathes contains course_image_directory %}
      <h2 class="m-t-2">사진</h2>
      {% for file in images %}
        {% if file.path contains course_image_directory %}
        <p class="m-y-2"><img src="{{ file.path }}" alt="" class="img-responsive center-block" /></p>
        {% endif %}
      {% endfor %}
      {% endif %}

    </div>
    <div class="col-sm-3 col-sm-offset-1 sidebar">
      <div class="sidebar-module bg-info">
        <ol id="work-meta" class="list-unstyled">
          {% if page.category %}<li>분류: {{ page.category }}</li>{% endif %}
          {% if page.type %}<li>구분: {{ page.type }}</li>{% endif %}
          {% if page.instructors %}<li>진행: {{ page.instructors }}</li>{% endif %}
          {% if page.target %}<li>대상: {{ page.target }}</li>{% endif %}
          {% if page.space %}<li>공간: {{ page.space }}</li>{% endif %}
          {% if page.materials %}<li>준비물: {{ page.materials }}</li>{% endif %}
          {% if page.results %}<li>결과물: {{ page.results }}</li>{% endif %}
          {% if page.r_time %}<li>소요시간 : {{ page.r_time }} 분</li>{% endif %}
          {% if page.objet %}<li>주재료 : {{ page.objet }}</li>{% endif %}
          {% if page.docs %}<li><p><a href="{{ page.docs }}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> 공연소개서</a></p></li>{% endif %}
        </ol>
      </div>
    </div>
  </div>
</div>
