---
layout: default
---

<div class="jumbotron" style="background: url(/assets/global/main1.jpg) no-repeat; background-size: cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/global/main1.jpg', sizingMethod='scale');">
  <div class="container">
    <h1 class="display-3"><span class="bg-warning text-warning">
    {{ page.title | escape | replace: ':', ':<br>' }}
    </span></h1>
  </div>
</div>

<div class="container about">
  <div class="col-lg-8 about-content">
    <p class="meta text-muted pull-right">
       {{ page.reporter }} / {{ page.editors }} / {{ page.date | date: "%Y-%m-%d" }}
    </p>
    {{ content }}
  </div>
  <div class="col-lg-3 col-lg-offset-1 about-sidebar">
    <div class="sidebar-module">
      <h3>다른 기사들</h3>
      <ol class="list-unstyled">
        {% for item in site.press %}
        {% if page.title != item.title %}
        <li>
          <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
        </li>
        {% endif %}
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
