---
layout: default
---

<div class="jumbotron work-header">
  <div class="container">
    <h1><span class="bg-success">{{ page.title }}</span></h1>
    <p class="lead"><span class="bg-info">{{ page.catchphrase }}</span></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 content">
      {{ content }}

{% if page.videos.size > 0 %}
      <h2 class="m-t-2">영상</h2>
  {% for item in page.videos %}
      <div class="embed-responsive embed-responsive-16by9 m-t-2">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ item }}" allowfullscreen></iframe>
      </div>
  {% endfor %}
{% endif %}


{% assign images = site.static_files | where: "image", true %}
{% assign work_image_directory = '/assets/works/' | append: page.slug | append: '/photo' %}
{% assign image_pathes =  images | map: 'path' | join: ', ' %}

{% if image_pathes contains work_image_directory %}
      <h2 class="m-t-2">사진</h2>
  {% for file in images %}
    {% if file.path contains work_image_directory %}
      <p class="m-y-2"><img src="{{ file.path }}" alt="" class="img-responsive center-block" /></p>
    {% endif %}
  {% endfor %}
{% endif %}

    </div>
    <div class="col-sm-3 col-sm-offset-1 sidebar">
      <div class="sidebar-module bg-info">
        <ol id="work-meta" class="list-unstyled">
          {{ page.meta | escape | markdownify }}
          {% if page.doc %}<li><p><a href="{{ page.doc }}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> introduction</a></p></li>{% endif %}
        </ol>
      </div>
    </div>
  </div>
</div>
