---
layout: default
---

<div class="jumbotron work-header">
  <div class="container">
    <h1><span class="bg-success">{{ page.title }}</span></h1>
    <p class="lead"><span class="bg-info">{{ page.catchphrase }}</span></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 content">
      {{ content }}

      {% if page.videos.size > 0 %}
      <h2 class="m-t-2">영상</h2>
      {% for item in page.video %}
      <div class="embed-responsive embed-responsive-16by9 m-t-2">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ item }}" allowfullscreen></iframe>
      </div>
      {% endfor %}
      {% endif %}

      {% assign file_pathes =  site.static_files | map: 'path' | join: ', ' %}
      {% assign work_image_directory = '/assets/works/' | append: page.slug | 'photo' %}
      {% if file_pathes contains work_image_directory %}
      <h2 class="m-t-2">사진</h2>
      {% for file in site.static_files %}
        {% if file.path contains work_image_directory %}
        <p class="m-y-2"><img src="{{ file.path }}" alt="" class="img-responsive center-block" /></p>
        {% endif %}
      {% endfor %}
      {% endif %}

    </div>
    <div class="col-sm-3 col-sm-offset-1 sidebar">
      <div class="sidebar-module">
        <ol id="work-meta" class="list-unstyled">
          {% if page.c_year %}<li>창작연도: {{ page.c_year }}</li>{% endif %}
          {% if page.type %}<li>형식구분: {{ page.type }}</li>{% endif %}
          {% if page.creator %}<li>창작자: {{ page.creator }}</li>{% endif %}
          {% if page.performer %}<li>공연자: {{ page.performer }}</li>{% endif %}
          {% if page.music %}<li>음악: {{ page.music }}</li>{% endif %}
          {% if page.installation %}<li>설치: {{ page.installation }}</li>{% endif %}
          {% if page.assistant_director %}<li>조연출: {{ page.assistant_director }}</li>{% endif %}
          {% if page.r_time %}<li>소요시간 : {{ page.r_time }} 분</li>{% endif %}
          {% if page.objet %}<li>주재료 : {{ page.objet }}</li>{% endif %}
          {% if page.doc %}<li><p><a href="{{ page.doc }}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> 공연소개서</a></p></li>{% endif %}
        </ol>
      </div>
    </div>
  </div>
</div>
